html {
  font-size: 100%;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5; }
  body img {
    object-fit: cover; }
  body .has-error .ant-form-explain, body .has-error .ant-form-split {
    font-size: 10px;
    margin-bottom: 10px; }
  body .has-error .ant-select-selection {
    border-width: 1px; }
  body .has-error .ant-input {
    border-width: 1px; }
  body .has-error .ant-input:hover {
    border-width: 1px; }
  body .ant-select-selection.ant-select-selection--multiple {
    min-height: 60px; }
  body .ant-form-item.error .ant-select {
    border: 1px #FF4D5B solid; }
  body .error.postcode-search input {
    border: 1px #FF4D5B solid !important; }
  body .anticon.anticon-question-circle {
    color: #909090;
    cursor: pointer;
    margin-left: 5px; }
  body ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 200; }
  body ::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 200; }
  body :-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 200; }
  body :-moz-placeholder {
    /* Firefox 18- */
    font-weight: 200; }
  body ::placeholder {
    font-weight: 200; }
  body .ant-select-selection__placeholder {
    font-weight: 200; }

.loader {
  top: 200px; }
  .loader .ant-modal-content {
    position: relative;
    background-color: transparent;
    background-clip: padding-box;
    box-shadow: none;
    display: flex;
    justify-content: center; }
    .loader .ant-modal-content div {
      display: flex;
      align-content: center;
      color: white; }
