$primary-color: rgb(61,90,254);
$large-breakpoint: 1440px;
$secondary-color: #ffe8ed;
$medium-breakpoint: 1024px;
$small-breakpoint: 768px;
$common-pink: #ff4b57;
$common-pink-semi-light: #ff868e;
$x-medium-font-size: 17px;
